.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.footer-text {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: 0px;
}
.footer-root-class-name {
  left: 0px;
  bottom: 0px;
  height: auto;
  position: absolute;
  align-self: center;
}
.footer-root-class-name1 {
  height: auto;
  display: none;
  background-color: var(--dl-color-gray-black);
}

.footer-root-class-name3 {
  display: none;
}

.not-found-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.not-found-banner {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 48px;
  justify-content: space-between;
}
.not-found-lottie-node {
  width: auto;
  height: auto;
  min-width: auto;
  margin-top: 15vh;
  min-height: auto;
  padding-top: 0px;
}
.not-found-text {
  color: var(--dl-color-gray-black);
  max-width: auto;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.not-found-navlink {
  color: var(--dl-color-gray-black);
  margin-top: 0vh;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  margin-bottom: 0vh;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.not-found-navlink:hover {
  transform: scale(1.02);
}
@media(max-width: 991px) {
  .not-found-text {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .not-found-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .not-found-text {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .not-found-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .not-found-lottie-node {
    width: 300px;
    height: 300px;
  }
}
