<div>
  <link href="./header.css" rel="stylesheet" />
  <div data-role="Header" class="header-header">
    <header data-thq="thq-navbar" class="header-navbar-interactive">
      <a href="index.html" class="header-navlink">
        <div class="header-logo"></div>
      </a>
      <div data-thq="thq-burger-menu" class="header-burger-menu">
        <svg viewBox="0 0 1024 1024" class="header-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
      <div data-thq="thq-mobile-menu" class="header-mobile-menu">
        <div data-thq="thq-mobile-menu-nav" data-role="Nav" class="header-nav">
          <div class="header-container">
            <div data-thq="thq-close-menu" class="header-menu-close">
              <svg viewBox="0 0 1024 1024" class="header-icon2">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav
            data-thq="thq-mobile-menu-nav-links"
            data-role="Nav"
            class="header-nav1"
          >
            <a href="index.html" class="header-navlink1"><span>Home</span></a>
            <span class="header-text"><span>About</span></span>
            <span class="header-text1"><span>Contact</span></span>
          </nav>
        </div>
      </div>
    </header>
  </div>
</div>
