.header-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 0rem;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-pimary-500);
}
.header-navbar-interactive {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: 5px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 5px;
  justify-content: space-between;
  background-color: var(--dl-color-pimary-500);
}
.header-navlink {
  display: contents;
}
.header-logo {
  width: 256px;
  height: 102px;
  display: flex;
  background-size: cover;
  background-image: url("/playground_assets/hcl-logowhite-text-transparent-background%20resized%20for%20ms365-200h.png");
  background-position: center;
}
.header-burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon {
  fill: var(--dl-color-gray-white);
  width: 20px;
  height: 20px;
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  align-self: center;
  transition: 0.5s;
  padding-top: 5px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 5px;
  justify-content: space-between;
  background-color: #fff;
}
.header-nav {
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.header-container {
  width: 100%;
  display: flex;
  align-self: flex-end;
  margin-top: 15px;
  align-items: center;
  margin-bottom: 15px;
  justify-content: flex-end;
}
.header-menu-close {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.header-icon2 {
  width: 20px;
  height: 20px;
}
.header-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.header-navlink1 {
  align-self: flex-end;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-text {
  align-self: flex-end;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-text1 {
  align-self: flex-end;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-root-class-name {
  margin-bottom: 0px;
}
.header-root-class-name1 {
  display: none;
  max-width: 100%;
  align-self: center;
}
.header-root-class-name2 {
  flex: 0 0 auto;
  max-width: 100%;
  align-self: center;
}
.header-root-class-name3 {
  max-width: 100%;
}
@media(max-width: 991px) {
  .header-header {
    max-width: 1320px;
    margin-bottom: var(--dl-space-space-triplequarter);
  }
  .header-root-class-name1 {
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .header-header {
    background-color: var(--dl-color-gray-white);
  }
  .header-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .header-root-class-name {
    margin-bottom: 0px;
  }
  .header-root-class-name2 {
    max-width: 100%;
    align-self: center;
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu {
    padding: 16px;
  }
  .header-root-class-name1 {
    margin-bottom: 0px;
  }
  .header-root-class-name2 {
    margin-bottom: 0px;
  }
}
